@-moz-document domain("noc.social"), domain("mastodon.social") {
    /* ==UserStyle==
    @name         Espresso: Mastadon
    @description  A soft and colorful Mastodon theme
    @author       Vozer
    @namespace    https://github.com/SlippingGitty/Espresso-Mastadon
    @version      1.0.0
    ==/UserStyle== */
    
/*
-----------Source 📡---------
> This is the core of the entire theme
> Uncomment ONE, either Dark or Light
*/

/* Dark */
@import url('https://slippinggitty.github.io/Espresso-Mastodon/source.css');

    
/* Light 
@import url('https://slippinggitty.github.io/Espresso-Mastodon/sourcelight.css');
*/

/* 
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
> -------COLOR PALLETES 🎨------- <
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
> Replace the last "___.css" with another color option (e.x: "amoled.css", "thinkpad.css")
> All choices that work in the Espresso Discord theme will also work here
> See choices @ https://github.com/SlippingGittys-Discord-Themes/Espresso-Discord-Theme/tree/main/themes/dark or
> https://github.com/SlippingGittys-Discord-Themes/Espresso-Discord-Theme/tree/main/themes/light
*/

@import url('https://slippinggittys-discord-Themes.github.io/Espresso-Discord-Theme/themes/dark/evening.css');
@import url('https://slippinggittys-discord-Themes.github.io/Espresso-Discord-Theme/themes/light/newspaper.css');


/*
-----------Accent Color 🖌️---------
> This will override the accent color on the theme you've selected
> Uncomment this selection if you are okay with that. 
:root {
  --accentD: rgb(39, 249, 253);
  --accent-hoverD: rgba(39, 249, 253, 0.977);
  --accent-selectedD: rgb(39, 249, 253, 0.612);
  --accent-focusedD: rgb(39, 249, 253, 0.200);
}
*/
}
