body {
    background: var(--PGBackground2D);
}

.reply-indicator__content a.unhandled-link, .status__content a.unhandled-link, .column-header__back-button, .icon-button.bookmark-icon.active, .column-header__icon, .column-header__icon, .fa-home:before,.fa-cog:before, .fa-gear:before, .fa-sign-out:before, .fa-bars:before, .fa-navicon:before, .fa-reorder:before, .fa-chevron-left:before, .column-back-button {
    color: var(--accentD);
}

.fa-sliders:before, .fa-file-text:before {
    color: var(--accent-selectedD);
}

.column>.scrollable {
    background: var(--PGBackground2D); 
}

.column>.scrollable::-webkit-scrollbar {
      display: none;
}

.drawer__inner {
    border-right: var(--accentD) 3px solid;
    border-radius: 1px;
    background-color: var(--PGBackgroundD);
}

.drawer__header, .column-subheading {
    border-radius: 30px;
    background-color: var(--PGBackgroundD);
}

.status__wrapper, .compose-form .compose-form__modifiers {
    border-right: var(--accentD) 2px solid;
    margin-top: 7px;
    background-color: var(--PGBackgroundD);
}

.status {
    border-bottom: 0px solid #393f4f;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.198);
}

.status__wrapper:hover {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.198);
    margin-right: 5px;
    margin-left: 5px;
    transition: .3s;
}

.notification { 
    border-radius: 1px;
    background-color: var(--PGBackgroundD);
}

.column-header, .column-header__button, .column-header__back-button, .column-back-button {
    background-color: var(--PGBackgroundD); 
    border-radius: 30px;
    margin-bottom: 10px;
}

.column-header:hover, .column-header__button:hover, .column-header__back-button:hover {
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.198);
    margin-right: 5px;
    margin-left: 5px;
    transition: .3s;
}

.column-header, .drawer__header {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
    border: solid var(--accentD) 2px;
}

.search__input {
    background: var(--PGTextBackgroundD);
    border-radius: 30px;
    box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.account__section-headline a, .account__section-headline button, .notification__filter-bar a, .notification__filter-bar button{
    border-radius: 30px;
    background-color: var(--PGBackgroundD);
    border: solid var(--accentD) 1px;
}

.compose-form .compose-form__buttons-wrapper {
    border-radius: 30px;
    margin-top: 15px;
    background-color: var(--PGBackground2D);
    border: solid var(--accentD) 1px;
    box-shadow: inset 5px 5px 5px 5px rgba(0, 0, 0, 0.198);
}

.account__section-headline, .notification__filter-bar {
    background: #1f232b00;
    border-bottom: 1px solid #c5cfe900;
    margin-bottom: 5px;
}

.compose-form .compose-form__buttons-wrapper {
    border-radius: 30px;
    margin-top: 15px;
    background-color: var(--PGBackground2D);
}

.compose-form .autosuggest-textarea__textarea, .compose-form .spoiler-input__input {
    box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
    color: var(--PGColorTextD);
    border-radius: 10px;
    background-color: var(--PGBackground2D);
}

.getting-started__wrapper {
    border-right: var(--accentD) 2px solid;
    margin-top: 7px;
    background-color: var(--PGBackgroundD);
}
.column-link {
    background-color: var(--PGBackgroundD); 
}

.drawer__inner__mastodon {
    display: none;
}

.scrollable {
    border-radius: 10px;
}

.notification__message, .account {
    margin-top: 5px;
    border-right: var(--accentD) 2px solid;
    background-color: var(--PGBackgroundD);
}

.ui__header {
    display: none;
}

.detailed-status {
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    background-color: var(--PGBackgroundD);
}

.status-card, .account__header__bio .account__header__fields dl {
    border: var(--accentD) 2px solid;
    border-radius: 1px;
    background-color: var(--PGBackgroundD); 
}

.status-card__image, .account__header__bar {
    background-color: var(--PGBackgroundD); 
}

.column-link:hover {
    margin-left: 5px;
    border-left: solid 1px var(--accentD);
    transition: 0.3s;
    border-radius: 1px;
    text-align: center;
    background-color: var(--PGBackgroundD) !important;
}

.button {
    background-color: var(--PGBackgroundD2) !important;
    border: solid 3px;
    border-radius: 18px;
    border-color: var(--accentD);
    color: var(--accentD);
    transition: 0.9s;
    font-weight: 1000;
}

.reply-indicator {
    background-color: var(--PGBackgroundD) !important;
    border: solid 3px;
    border-radius: 18px;
    border-color: var(--accentD);
    color: var(--accentD);
    transition: 0.9s;
    font-weight: 1000;
}
.reply-indicator__content, .display-name {
    color: white;
}

.detailed-status__action-bar {
    margin-top: 7px;
    border-radius: 30px;
    background-color: var(--PGBackgroundD);
    border: solid var(--accentD) 1px;
}

.status-card.compact {
    border-radius: 30px;
    border-color: var(--accent-selectedD);
    box-shadow: inset 5px 5px 5px 4px rgba(0, 0, 0, 0.198);
}

.icon-button.star-icon.active, .notification__favourite-icon-wrapper .star-icon, .no-reduce-motion .icon-button.star-icon.activate>.fa-star {
    color: var(--accentD) !important;
}

.icon-button {
    color: var(--accent-selectedD);
}
