body {
    background: var(--PGBackground2D);
}

.reply-indicator__content a.unhandled-link, .status__content a.unhandled-link, .column-header__back-button, .fa-fw, .fa-sliders::before {
    color: var(--accentD);
}

.column>.scrollable {
    background: var(--PGBackground2D); 
}

.drawer__inner {
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    background-color: var(--PGBackgroundD);
}

.drawer__header, .column-subheading {
    border-radius: 30px;
    background-color: var(--PGBackgroundD);
}

.status__wrapper, .compose-form .compose-form__modifiers {
    border-right: var(--accentD) 2px solid;
    margin-top: 7px;
    background-color: var(--PGBackgroundD);
}

.status {
    border-bottom: 0px solid #393f4f;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.198);
}

.notification { 
    border-radius: 1px;
    background-color: var(--PGBackgroundD);
}

.column-header, .column-header__button, .column-header__back-button {
    background-color: var(--PGBackgroundD); 
    border-radius: 30px;
    margin-bottom: 10px;
}

.column-header, .drawer__header {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.198);
}

.search__input {
    background: var(--PGTextBackgroundD);
    border-radius: 30px;
    box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
}

.account__section-headline a, .account__section-headline button, .notification__filter-bar a, .notification__filter-bar button{
    border-radius: 30px;
    background-color: var(--PGBackgroundD);
}

.account__section-headline, .notification__filter-bar {
    background: #1f232b00;
    border-bottom: 1px solid #c5cfe900;
    margin-bottom: 5px;
}

.compose-form .compose-form__buttons-wrapper {
    border-radius: 30px;
    margin-top: 15px;
    background-color: var(--PGBackground2D);
}

.compose-form .autosuggest-textarea__textarea, .compose-form .spoiler-input__input {
    box-shadow: inset 3px 3px 3px 1px rgba(0, 0, 0, 0.198);
    color: var(--PGColorTextD);
    border-radius: 10px;
    background-color: var(--PGBackground2D);
}

.getting-started__wrapper {
    border-right: var(--accentD) 2px solid;
    margin-top: 7px;
    background-color: var(--PGBackgroundD);
}
.column-link {
    background-color: var(--PGBackgroundD); 
}

.drawer__inner__mastodon {
    display: none;
}

.scrollable {
    border-radius: 10px;
}

.notification__message, .account {
    margin-top: 5px;
    border-right: var(--accentD) 2px solid;
    background-color: var(--PGBackgroundD);
}

.ui__header {
    display: none;
}

.detailed-status {
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    background-color: var(--PGBackgroundD);
}

.status-card {
    border: var(--accentD) 2px solid;
    border-radius: 1px;
    background-color: var(--PGBackgroundD); 
}

.status-card__image {
    background-color: var(--PGBackgroundD); 
}

:root {
    --hover-animation-speed: 0.35s;
    --seperator-color: var(--background-accent);
  }
  
  .column:first-child, .drawer:first-child {
      transition-duration: var(--hover-animation-speed);
      transition-property: width, margin-right;
      z-index: 999;
    }
    .column:first-child, .drawer:first-child:not(:hover) {
      width: 50px;
      margin-right: 0;
    }
    .column:first-child, .drawer:first-child .column:first-child, .drawer:first-child h2::after {
      content: "";
      display: block;
      width: 100%;
      color: #0000;
      transition-duration: var(--hover-animation-speed);
      transition-property: background-color, color, height;
      height: 0;
    }
    .column:first-child, .drawer:first-child .column:first-child, .drawer:first-child h2 {
      transition-duration: var(--hover-animation-speed);
      transition-property: line-height;
      line-height: 1;
    }
    .column:first-child, .drawer:first-child:not(:hover) .column:first-child, .drawer:first-child h2::after {
      background-color: var(--seperator-color);
      height: 2px;
    }
    .column:first-child, .drawer:first-child:not(:hover) .column:first-child, .drawer:first-child h2 {
      line-height: 0;
    }
    .column:first-child, .drawer:first-child .actions-zk2vB_,
    .column:first-child, .drawer:first-child .header-3OsQeK > :not(div) {
      transition-duration: var(--hover-animation-speed);
      transition-property: opacity;
      opacity: 1;
    }
    .column:first-child, .drawer:first-child:not(:hover) .actions-zk2vB_ {
      opacity: 0;
    }
    .column:first-child, .drawer:first-child:not(:hover) .containerDefault-YUSmu3 .children-1MGS9G,
    .column:first-child, .drawer:first-child:not(:hover) .column:first-child, .drawer:first-child .children-3MeUvj,
    .column:first-child, .drawer:first-child:not(:hover) .header-3OsQeK > :not(div) {
      display: none;
    }
    
.account__header, .account__header__bio .account__header__fields {
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    background-color: var(--PGBackgroundD);
}

.column-back-button {
    border-right: var(--accentD) 2px solid;
    border-radius: 1px;
    background-color: var(--PGBackgroundD); 
}
